@mixin sui-button-secondary-hovers {
  &:hover {
    background: none;
    color: var(--sui-theme-interactive);
  }

  &:active {
    color: var(--sui-theme-interactive);
    background: var(--sui-theme-interactive-05a);
    border-color: var(--sui-theme-interactive);
  }
}

@mixin sui-button-secondary-hovers-inverted {
  &:hover {
    color: var(--sui-theme-light);
    background: var(--sui-theme-interactive);
    border-color: var(--sui-theme-interactive);
  }

  &:active {
    color: var(--sui-theme-light);
    background: var(--sui-theme-interactive-alt);
    border-color: var(--sui-theme-interactive-alt);
  }
}

.sui-button {
  text-transform: uppercase;
  display: inline-block;
  color: var(--sui-theme-bg);
  background: var(--sui-theme-fg);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
  text-decoration: none;
  padding: 11px 23px;
  border: 1px solid var(--sui-theme-fg);
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;

  @include focus;

  &:hover {
    color: var(--sui-theme-light);
    background: var(--sui-theme-interactive);
    border-color: var(--sui-theme-interactive);
  }

  &:active {
    color: var(--sui-theme-light);
    background: var(--sui-theme-interactive-alt);
    border-color: var(--sui-theme-interactive-alt);
  }

  &--size_xs {
    line-height: 20px;
    padding: 5px 11px;
    text-transform: none;
  }

  &--size_s {
    padding: 7px 15px;
  }

  &--size_l {
    padding: 15px 31px;
  }

  &--type_secondary {
    color: var(--sui-theme-fg);
    background: none;

    @include sui-button-secondary-hovers;
  }

  &--inverted {
    color: var(--sui-theme-fg);
    background: var(--sui-theme-bg);
    border-color: var(--sui-theme-bg);

    &.sui-button--type_secondary {
      color: var(--sui-theme-bg);
      background: none;

      @include sui-button-secondary-hovers-inverted;
    }
  }

  &--disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.sui-theme-dark .sui-button {
  &.sui-button--type_secondary {
    @include sui-button-secondary-hovers-inverted;

    &.sui-button--inverted {
      @include sui-button-secondary-hovers;
    }
  }
}
