html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
button,
input {
  font-family: 'Manrope', sans-serif;
  color: var(--sui-theme-fg);
}

body {
  background: var(--sui-theme-bg);
}

.sui-theme-light,
.sui-theme-dark {
  background: var(--sui-theme-bg);
  color: var(--sui-theme-fg);
}
