// fg COLORS
$color-data-blue: #092433;
$color-white: #ffffff;
$color-signal-red: #eb4247;
$color-signal-red-dark: #c93d44;
$color-cool-gray: #d9d9d6;
$color-green-success: #45b780;
$color-green-text: #3fa675;
$color-error: #f51c1c;

$color-data-blue-90: mix($color-data-blue, $color-white, 90);
$color-data-blue-60: mix($color-data-blue, $color-white, 60);
$color-data-blue-40: mix($color-data-blue, $color-white, 40);
$color-data-blue-10: mix($color-data-blue, $color-white, 10);
$color-data-blue-10a: change-color($color-data-blue, $alpha: 0.1);

$color-white-90: mix($color-white, $color-data-blue, 90);
$color-white-60: mix($color-white, $color-data-blue, 60);
$color-white-40: mix($color-white, $color-data-blue, 40);
$color-white-10: mix($color-white, $color-data-blue, 10);
$color-white-10a: change-color($color-white, $alpha: 0.1);

$color-cool-gray-30: mix($color-cool-gray, $color-white, 30);
$color-dark-gray: mix($color-cool-gray, $color-data-blue, 20);

$color-signal-red-05a: change-color($color-signal-red, $alpha: 0.05);

// THEME COLORS
:root,
.sui-theme-light {
  --sui-theme-interactive: #{$color-signal-red};
  --sui-theme-interactive-alt: #{$color-signal-red-dark};
  --sui-theme-interactive-05a: #{$color-signal-red-05a};

  --sui-theme-error: #{$color-error};

  --sui-theme-success: #{$color-green-success};
  --sui-theme-success-text: #{$color-green-text};

  --sui-theme-fg: #{$color-data-blue};
  --sui-theme-fg-60: #{$color-data-blue-60};
  --sui-theme-fg-40: #{$color-data-blue-40};
  --sui-theme-fg-10: #{$color-data-blue-10};
  --sui-theme-fg-10a: #{$color-data-blue-10a};

  --sui-theme-bg: #{$color-white};
  --sui-theme-bg-60: #{$color-white-60};
  --sui-theme-bg-40: #{$color-white-40};
  --sui-theme-bg-10: #{$color-white-10};
  --sui-theme-bg-10a: #{$color-white-10a};

  --sui-theme-bg-alt: #{$color-cool-gray-30};

  --sui-theme-light: #{$color-white};
  --sui-theme-dark: #{$color-data-blue};

  --sui-theme-line: #{$color-cool-gray};
}

.sui-theme-dark {
  --sui-theme-success: #{$color-green-text};
  --sui-theme-success-text: #{$color-green-success};

  --sui-theme-fg: #{$color-white};
  --sui-theme-fg-60: #{$color-white-60};
  --sui-theme-fg-40: #{$color-white-40};
  --sui-theme-fg-10: #{$color-white-10};
  --sui-theme-fg-10a: #{$color-white-10a};

  --sui-theme-bg: #{$color-data-blue};
  --sui-theme-bg-60: #{$color-data-blue-60};
  --sui-theme-bg-40: #{$color-data-blue-40};
  --sui-theme-bg-10: #{$color-data-blue-10};
  --sui-theme-bg-10a: #{$color-data-blue-10a};

  --sui-theme-bg-alt: #{$color-dark-gray};

  --sui-theme-line: #{$color-white-10};
}
