:root {
  --sui-spacing-red: 8px;
  --sui-spacing-orange: 12px;
  --sui-spacing-yellow: 16px;
  --sui-spacing-green: 24px;
  --sui-spacing-blue: 32px;
  --sui-spacing-indigo: 40px;
  --sui-spacing-violet: 48px;
  --sui-spacing-olive: 64px;
  --sui-spacing-teal: 96px;
  --sui-spacing-cyan: 148px;
}
